@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{
    --bg-color: #000;
    --text-color: rgb(255, 255, 255);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    text-decoration: none;
    color: var(--text-color);
    background: #000;
}
.max-width{
    max-width: auto;
    padding: 0 100px;
    margin: auto;
}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
.navbar li{
    list-style: none;
    margin: 10px;
}
.navbar li a {
    color: rgb(255, 255, 255);
    text-decoration:none;
}
/* Home Section styles */
.main{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: auto auto;
    height: 90vh;
    z-index: 1;
    width: auto;
    max-width: auto;
    padding-right: auto;
    padding-left: auto;
}

.main__content{
    width: 120%;
}

.main__links-content{
    width: 120%;
}

.main__content h1{
    font-size: 4rem;
    color: var(--text-color);
}

.types{
    display: inline-block;
    background: linear-gradient(145deg, rgba(154,64,255,1) 6%, rgba(224,164,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.main__img--container{
    padding-left: 150px;
}

.main__img--container img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.main__links-content i{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 26px;
    padding: 0 10px;
    font-size: 2rem;
    color: var(--text-color);
}

@media screen and (max-width: 720px){
    .main__container{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-left: 50px;
        display: grid;
        grid-template-columns: 1fr;
        padding: auto;
    }
    .main__img--container{
        padding-right: 200px;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        text-align: center;
    }
    .main__img--container img{
        justify-content: center;
        align-items: center;
        text-align: center;
        display: grid;
        width: 200px;
        height: 200px;
    }
    .main__content{
        padding-right: 150px;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
    }
    .main__links-content{
        padding-right: 120px;
        padding-bottom: 10px;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-align: center;
    }
    .main__links-content i{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: auto;
    }
}
